<%- include('../partials/head'); %>

    <body>

        <header>
            <%- include('../partials/header'); %>
            <script src="/js/cart.js"></script>

        </header>

        <h1 class="titlePage">Detalle de <%= elProducto.name %>
        </h1>
        <div class="productDetail">
            <img src="/uploads/img_products/<%= elProducto.img_url %>" alt="<%= elProducto.name %>">
            <div class="text">
                <label>Juego: </label>
                <h3 class="title">
                    <%= elProducto.name %>
                </h3>


                <h5 class="edad">
                    <%= elProducto.category.name %> | <%= elProducto.age %>
                </h5>
                <h2 class="precio" style="color: #000;">$ <%= elProducto.price %>
                </h2>
                <br>

                <!-- <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6> -->

                <% if( typeof usuarioLogueado !="undefined" && usuarioLogueado.rol==1 ){%>

                    <button type="submit" class="btn">Agregar al Carrito</button>
                    <a h href="edit/<%= elProducto.id %>"><button class="btn_secundary">Editar</button></a>
                    <form style="margin-top: 10px;" action="delete/<%= elProducto.id %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn_delete">Borrar</button></form>

                    <%}else{%>
<!-- 
                        <form style="margin-top: 10px;" action="<%= elProducto.id %>" method="GET">
                            <button type="submit" id="addCart" class="add-cart btn">Agregar al Carrito</button></form>
 -->

                        <button type="submit" id="addCart" class="add-cart btn">Agregar al Carrito</button>

                    <%}%>

            </div>
        </div>
        <br>
        <div class="productInfo">
            <label>Características: </label>
            <br>
            <br>
            <p><%= elProducto.description %></p>
        </div>

        <br>

        <section class="oportunidades">
            <h3>También te puede interesar</h3>
            <div class="productList">
                <% for (let i=0; i < productos.length; i++) {%>
                    <a href="<%= productos[i].id %>" class="productCard">
                        <img src="/uploads/img_products/<%= productos[i].img_url %>" alt="producto1">
                        <div class="text">
                            <h3 class="title">
                                <%= productos[i].name %>
                            </h3>
                            <h5 class="edad">
                                <%= productos[i].age %>
                            </h5>
                            <h4 class="precio">$<%= productos[i].price %>
                            </h4>
                            <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6>
                        </div>
                    </a>
                    <% }%>
            </div>

            </div>
        </section>




        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <%- include('../partials/closure'); %>