<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

<h1 class="titlePage"><i class="fa fa-exclamation-triangle"></i></h1>

<h1 class="titlePage"><%= elMensaje %></h1>
<h3>Ups, lo siento,  parece que algo salió mal!</h3>

<br>
<br>

<br>



    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>