<%- include('../partials/head'); %>

    <body>

        <div class="conteiner">

            <header>
                <%- include('../partials/header'); %>
            </header>

            <main>
                <h1 class="titlePage"><i class="fa fa-exclamation-triangle"></i></h1>
                <br>
                <h1 class="titlePage">
                    <%= elMensaje %>
                </h1>
                <br>
                <h3>Ups, lo siento, parece que algo salió mal!</h3>
            </main>

            
        </div>


        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <%- include('../partials/closure'); %>