<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>

    </header>


    <section>

      <h1 class="titlePage">Editar Producto</h1> 
      
      <% if(typeof errors != "undefined"){%>
        <div class="errors-group">
          <ul class="errorsUl">
            <% for(let i = 0 ; i < errors.length; i++){%>
              <li><%=errors[i].msg %></li>
              <%}%>
          </ul> 
          </div>
       <%}%>
     
      <div class="errors-group">
      <!-- <ul class="errorsUl"></ul>  -->
      </div>

        <div id="createProduct" class="form">
            <form  class="createProductForm" action="<%=elProducto.id%>?_method=PUT" autocomplete="on" method="POST" enctype="multipart/form-data"> 

              <div class="form-group">
                <label for="" class="" >Nombre del producto </label>
                  <input id="name" name="name" class="form-control"  type="text" placeholder="Nombre del producto" value="<%=elProducto.name%>"/>
              </div>

              <div class="form-group">
                <label for="" class="" > Descripción</label>
                <input id="description" name="description"  class="form-control"  type="text" placeholder="Descripción del producto" value="<%=elProducto.description%>"/> 
              </div>

              <img style="width: 100px;" src="/uploads/img_products/<%= elProducto.img_url %>" alt="<%= elProducto.name %>">

              <div class="form-group">
                <label for="" class="" >Cambiar imagen la imagen </label>
                <input id="image" name="image" class="form-control" " type="file" placeholder="Imagen de producto" />
            </div>  


            <div class="form-group">
              <label for="" class="" >Precio </label>
              <input id="price" name="price" class="form-control" type="number" placeholder=<%=elProducto.price%> value="<%=elProducto.price%>" /> 
            </div>

            <div class="form-group">
              <label for="" class="">Edad sugerida</label>
              <select id="age" name="age"  class="form-control" placeholder="Edad sugerida" value="<%=elProducto.age%>">
                <option value="1 a 3 años">1 a 3 años</option>
                <option value="3 a 6 años">3 a 6 años</option>
                <option value="6 a 9 años">6 a 9 años</option>
                <option value="+9 años">+9 años</option>
                 </select>
            </div>


            <div class="form-group">
              <label for="" class=""> Categoria</label>
               <select id="category" name="category"   class="form-control" placeholder="Selecciona una categoria" value="<%=elProducto.category%>">
                
                <% for (let i = 0; i < categorias.length; i++) {%> 
                 <option value="<%= categorias[i].id %>"><%= categorias[i].name %></option>
              
                <% }%> 

              </select>
            </div>


              <p class=""> 
                <button type="submit" class="btn btn-primary">Confirmar</button>

            </form>
        </div>
    </section>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    
<%- include('../partials/closure'); %>