<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    
    <section style="background-color: #efefef;" >
        <div id="register" class="form">
              <h1 class="titlePage"> Registro</h1> 

              <% if(typeof errors != "undefined"){%>
                <div class="errors-group">
                  <ul class="errorsUl">
                    <% for(let i = 0 ; i < errors.length; i++){%>
                      <li><%=errors[i].msg %></li>
                      <%}%>
                  </ul> 
                  </div>

               <%}%>

                <form  action="" autocomplete="on" method="POST" enctype="multipart/form-data"> 



              <div class="form-group">
                <label for="usernamesignup" class="uname" >Tu nombre</label>
                  <input class="form-control" id="usernamesignup" name="name"  type="text" placeholder="Nombre" /> 
                  <!-- required="required" -->
              </div>
              <div class="form-group">
                <label for="usernamesignup" class="" >Apellido</label>
                  <input class="form-control" id="usernamesignup" name="lastName" type="text" placeholder="Apellido" />
              </div>

              <div class="form-group">
                <label for="emailsignup" class="" > Tu email</label>
                  <input class="form-control" id="emailsignup" name="email" type="email" placeholder="ejemplo@mail.com"/> 
              </div>

              <div class="form-group">
                <label for="" class="" >Carga tu imagen de perfil</label>
                <input id="image" name="image" class="form-control"  type="file" placeholder="Imagen de perfil" />
            </div>  

              <div class="form-group">
                <label for="passwordsignup" class="" >Tu password </label>
                  <input  class="form-control" id="passwordsignup" name="password" type="password" placeholder="eg. X8df!90EO" /> 
                  <!-- required="required" type="password" placeholder="eg. X8df!90EO"  title="Debe contener al menos un número y una letra minúscula y mayúscula, y al menos 8 o más caracteres"/ -->

                </div>

                <!-- <div class="form-group">
                    <label for="passwordsignup_confirm" class="youpasswd" >Confirma tu password </label>
                  <input class="form-control" id="passwordsignup_confirm" name="password_confirm"  type="password" placeholder="eg. X8df!90EO"/>
                </div> -->

                <div class="form-group">
                    <input type="submit" value="Registro" class="btn "/> 
                </div>

                <p>  
                  Ya eres miembro?
                </p>
              </br>

                  <a href="login" class="change_link btn btn_secundary"> Loguéate </a>
              </br>
            </br>

            </form>
        </div>
    </section>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>