<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="conteiner">
    
    <section style="background-color: lightgray;" >
        <div id="register" class="form">

            <form  action="/register/update/<%=user.id%>?_method=PUT" autocomplete="on" method="POST" > 
              <!-- enctype="multipart/form-data" -->
              <h1 class="titlePage"> Editá tu perfil</h1> 

              <img style="border-radius: 50%;margin-bottom: 20px;" src="/uploads/avatar_user/<%= user.avatar %>" alt="<%= user.name %>">

              <div class="form-group">
                <label for="usernamesignup" class="uname" >Tu nombre</label>
                  <input class="form-control" id="usernamesignup" name="name" required="required" type="text" placeholder="Nombre" value="<%= user.name %>"  />
              </div>
              <div class="form-group">
                <label for="usernamesignup" class="" >Apellido</label>
                  <input class="form-control" id="usernamesignup" name="lastName" required="required" type="text" placeholder="Apellido" value="<%= user.last_name %>" />
              </div>

              <div class="form-group">
                <label for="emailsignup" class="" > Tu email</label>
                  <input class="form-control" id="emailsignup" name="email" required="required" type="email" placeholder="ejemplo@mail.com" value="<%= user.email %>" /> 
              </div>

              <!-- <div class="form-group">
                <label for="" class="" >Cambiar la imagen de perfil</label>
                <input id="image" name="image" class="form-control" type="file" placeholder="Imagen de perfil" value="<%= user.id %>" />
            </div>   -->


                <div class="form-group">
                    <input type="submit" value="Actualizar" class="btn"/> 
                </div>

                <p class="change_link">  
                  ¿Tienes problemas con la contraseña?
                  <a href="#" > Puedes solicitar cambio de contraseña </a>
              </p>
            </br>
            </form>
        </div>
    </section>
  
  </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>