<%- include('../partials/head'); %>

    <body>

        <header>
            <%- include('../partials/header'); %>
        </header>

        <h1 class="titlePage">Perfil de <%= user.name %>
        </h1>
        <div class="">
            <img style="border-radius: 50%;margin-bottom: 20px;" src="/uploads/avatar_user/<%= user.avatar %>" alt="NO TA">
            <div class="">
                <label class="">Nombre de usuario:</label>
                <h3><b> <%= user.name %> <%= user.last_name %></b></h3>
                <label class="title">E-mail:</label>
                <h4 class=""> <%= user.email %></h4></br>
                <!-- <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6> -->
                <button type="submit" class="btn">Cerrar</button>
                <a h href="edit/<%= user.id %>"><button class="btn_secundary">Editar</button></a>
            </div>
        </div>
    </br>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <%- include('../partials/closure'); %>