<nav id="menu" class="menu">
  <div class="top">
    <a onclick="openNav()" class="btn-menu"> <i class="fa fa-bars"></i></a>

    <a href="/"><img class='logo' src="/images/tamaiti_logo.png" alt="logo"></a>
  </div>

  <ul class="enlaces">
    <li><a href="/products/search"><i class="fa fa-search "></i><span class="enlaceName">Buscar</span></a></li>
    <li><a href="/products/cart"><i class="fa  fa-cart-plus"></i>
        <span class="cartNumber badge badgeCounter">0</span>
        <span class="enlaceName">Mi carrito</span>
        </a>
    </li>

    <% if( typeof usuarioLogueado=="undefined" ){%>
      <li><a href="/login"><i class="fa fa-user"></i><span class="enlaceName">Ingresar</span></a></li>
      <% } else{ %>
        <li>
          <a href="/register/<%= usuarioLogueado.id%>"><i class="fa fa-user" style="color: #2fb26f;"></i>
            <!-- <img style="border-radius: 50%;height:30px; padding: auto;margin: 0px;border-style:2;" src="/uploads/avatar_user/<%= usuarioLogueado.avatar%>" alt="avatar"> -->
            <span class="enlaceName">
              <%= usuarioLogueado.name%>
            </span>
          </a>
        </li>
        <% } %>
  </ul>
</nav>

<% if ( typeof usuarioLogueado!="undefined" && usuarioLogueado.rol==1){ %>

  <nav id="menuAdmin" class="menuAdmin">
    <ul class="enlacesAdmin">
      <li><a href="/products"><span class="">Tienda Online</span></a></li>
      <li><a href="/login/cerrarsesion"><span class="">Cerrar Sesión</span></a></li>
      <li><a href="/products/create" class="btnNewProduct"><span>Nuevo Producto</span></a></li>
    </ul>
  </nav>

  <% } %>





    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/products" class="btn_secundary">
        Tienda Online
      </a>

      <% if( typeof category !="undefined" ){%>

        <% for (let i=0; i < category.length; i++) {%>
          <a href="/products/category/<%=category[i].id%>">
            <%= category[i].name%>
          </a>
          <% }%>
            <% }%>

    </div>


    <!-- Este es el script para el funcionamiento del sidebar -->

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>

    <!-- Este es el script para el indice del icono cart -->

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>

<script src="/js/cartIndice.js"></script>

